<div class="page-layout blank p-24" fusePerfectScrollbar>

    <h2> HISTORIAL </h2>
    
    <table mat-table [dataSource]="historial" class="mat-elevation-z8">

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre. </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      

        <ng-container matColumnDef="duracion">
          <th mat-header-cell *matHeaderCellDef> Duración </th>
          <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
        </ng-container>
      
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>
      
        <ng-container matColumnDef="info">
          <th mat-header-cell *matHeaderCellDef> Información </th>
          <td mat-cell *matCellDef="let element">  </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    

</div>
