.productos{
    width: 100%!important;
    .items{
        margin-bottom: 20px;
        
        .txt{
            width: 90%;
            span{
                font-size: 10px;
                strong{
                    display: block;
                }
            }
        }
        .inputs{
            width: 10%;
            text-align: right;
            input{
                text-align: center!important;
            }
            .mat-form-field {
                display: block!important;
            }
        }
    }

    .btn{
        margin-top: 5%;
    }
}

.destino-item {
    width: 95%;
    float: left;
}
.destino-icon {
    width: 5%;
    float: left;
    text-align: right;
}


.ubicaciones{
    .form{
        text-align: center;
        .item-ubicacion{
            width: 100%;
            margin-bottom: 2%;
        }
        .btn-add{
            margin-bottom: 2%;
        }
    }
    
}