<div class="page-layout blank p-24" fusePerfectScrollbar>

    <h2> NUEVO PEDIDO </h2>

    <div *ngIf="paso == 1" >
    
        <mat-card class="productos"  >

            <h3> Elije tus envíos </h3>
            <mat-progress-bar  mode="buffer" *ngIf="cargando" ></mat-progress-bar>
            <div *ngIf="!cargando">
                <mat-list>
                    <mat-list-item *ngFor="let producto of productos; let i = index" class="items">
                        <div class="txt">
                            {{ producto.name }}<br>
                            <span class="detalle"> 
                                <strong *ngIf="producto.cost > 0" >Tarifa normal + {{ producto.cost }} <br> </strong> 
                                {{ producto.description }} 
                            </span>
                        </div>
                        <div class="inputs">
                            <mat-form-field >
                                <input matInput type="number" [(ngModel)]="productos[i]['cantidad']" (ngModelChange)="validar( i )" value="0" min="0" >
                            </mat-form-field>
                        </div>
                    </mat-list-item>
                    
                </mat-list>

                <button mat-raised-button color="primary" class="btn" (click)="continuar()" >Validar envio</button>
            </div>

           



        </mat-card>
    </div>

    <div *ngIf="paso == 2">
        <mat-card class="ubicaciones" >
 
            <h3> Agrega las ubicaciones </h3>

            <div class="form">
                <mat-form-field class="item-ubicacion" >
                    <input matInput placeholder="Punto de Partida"   [(ngModel)]="inicio.value" (click)="openDialog( false )">
                </mat-form-field>
                <br>

                
                <mat-form-field class="item-ubicacion" *ngFor="let direccion of direcciones; let i = index" >
                    <div class="destino-item">
                        <input matInput placeholder="Destino"   [(ngModel)]="direccion.value" (click)="openDialog( i )">
                    </div>
                    <div class="destino-icon">
                        <mat-icon *ngIf="i != 0"  (click)="eliminar( i )" >delete</mat-icon>
                    </div>
                </mat-form-field> 
                
                
                
                <br>
                <button mat-raised-button color="secondary" class="btn-add" (click)="agregarUbicacion()" >Agregar destino</button>
                <br>
                <mat-checkbox>Recorrido ida y vuelta</mat-checkbox>

            </div>

            <br>

            <button mat-raised-button color="primary" class="btn" (click)="volver()" >Volver</button>
            <button mat-raised-button color="primary" class="btn" (click)="cotizar()" > Cotizar </button>
        </mat-card>
    </div>
    

    

</div>
