
<input class="autocomplete" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>

<div #map_canvas id="map_canvas" style="height: 400px;"></div>
<button mat-raised-button color="primary" class="btn" (click)="aceptar()" >Aceptar</button>


