<div class="page-layout blank p-24" fusePerfectScrollbar>

    <h2> AGREGAR CUPÓN </h2>

    <mat-card class="cupones"  >

        <h3> Ingresa el código de tu cupón </h3>
        <mat-form-field class="item-cupon">
            <input matInput placeholder="código" [(ngModel)]="cupon" >
        </mat-form-field>
        <br>

        <button mat-raised-button color="primary" class="btn" (click)="insetarCupones()" >Aceptar</button>

    </mat-card>
    

</div>
